 * {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 0;
    min-height: 0;
    border: none;
}

window#waybar {
    /* background-color: transparent; */
    background-color: #141926;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#clock {
   color: #181c38;
   background-color: rgb(153, 224, 255);
   border-radius: 4px;

   padding: 7px 10px 3px 10px;
   margin: 6px 0px;
}

#wireplumber {
   color: #181c38;
   background-color: #a6e3a1;
   border-radius: 4px;

   padding: 0px 10px;
   margin: 6px 6px; /* 6px on sides as it's the rightmost module */
}
